body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.boton {
    position: absolute;
    left: 10cm;
    bottom: 7.5cm;
}